@import "tailwindcss";

@theme {
  --color-dark-bg: #0A0A0A;
  --color-dark-card: #141414;
  --color-dark-border: #1F1F1F;
}

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}

.dark {
  color-scheme: dark;
}
